.App {
  width: 400px;
  height: auto;
  border: 1px solid #a1a1a1;
  margin: 30px auto 30px auto;
  
  font-family: Arial, Helvetica, sans-serif;
  color: #111;
}

h1 {
  font-size: 1.5em;
  color: #444;
  margin: 20px 20px 10px 20px;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

ul li {
  margin: 20px;

}
label {
  font-size: 0.9em;
  display: block;
}

input  {
  height: 35px;
  border: 1px solid #a1a1a1;
  text-indent: 10px;
  color: #353535;
  width: 100%;
  font-size: 1.2em;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  line-height: 37px;
  background: #1e404b;
}

.button span {
  color: white;
}

.error {
  display: inline;
  color: red;
  font-size: 0.9em;
  
}